html, body {
  margin: 0;
}

html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
}

body {
  overflow: hidden;
  height: inherit;
}

h1, p {
  color: #fff;
  text-shadow: 0 0 4px black;
}

h1 {
  font-size: 2rem;
  margin: 0;
  position: absolute;
  top: 10px;
  left: 20px;
}

p {
  position: absolute;
  top: 50px;
  left: 20px;
}

canvas {
  display: block;
}

.button-container {
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 80px;
  width: 100%;
}

button {
  padding: 10px;
  background-color: yellow;
  outline: solid;
  outline-color: magenta;
}